<h1>{{opcao()}}</h1>
<mat-card class="">
  <mat-card-content>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="disciplina.nome">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Professor</mat-label>
      <input matInput [(ngModel)]="disciplina.professor">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Carga Horária</mat-label>
      <input matInput [(ngModel)]="disciplina.cargaHoraria">
    </mat-form-field>
  </mat-card-content>
</mat-card>

<button mat-icon-button (click)="cadastro()">
  @if (editar) {
  <mat-icon>edit</mat-icon>
  } @else {
  <mat-icon>add</mat-icon>
  }

</button>
